<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.design.studentManagement.mapper.ClasseHistoryMapper">

    <resultMap type="com.design.studentManagement.pojo.ClasseHistory" id="ClasseHistoryMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="classeId" column="classe_id" jdbcType="INTEGER"/>
        <result property="year" column="year" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ClasseHistoryMap">
        select
          id, classe_id, year, user_id
        from classe_history
        where id = #{id}
    </select>
    <select id="queryByYearAndClasseId" resultMap="ClasseHistoryMap">
        select
          id, classe_id, year, user_id
        from classe_history
        where year = #{year} and classe_id=#{classeId}
    </select>
    <select id="getClasseHistory" resultMap="ClasseHistoryMap">
        select
          id, classe_id, year, user_id
        from classe_history
        where year = #{year} and classe_id=#{classeId} and user_id =#{userId}
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into classe_history(classe_id, year, user_id)
        values (#{classeId}, #{year}, #{userId})
    </insert>
     <!--分页查询-->
      <select id="getPageListByCondition" resultMap="ClasseHistoryMap">
       <!-- <if test="page.key.userName != null and page.key.userName != ''">
            and  a.user_name like '%' #{page.key.userName}  '%'
        </if>
        <if test="page.key.year != null ">
            <bind name="pattern" value="'%' + page.key.year + '%'" />
            and a.created_at like #{pattern}
        </if>-->
        select *  from classe_history
        order by
        created_at desc
        <!--分页查询-->
        <!--比如 pageNum=1 pageSize=10为 第一页开始 查10条数据 ((#{page.pageNum}-1)*#{page.pageSize})=0*10,10 则表示从1开始查10条数据-->
        limit  #{page.startNum} , #{page.pageSize}
    </select>
     <!--分页查询条数-->
    <select id="getPageListCount" resultType="int">
        select count(id) as count from classe_history   
    </select>

   

    <!--通过主键修改数据-->
    <update id="update">
        update classe_history
        <set>
            <if test="classeId != null">
                classe_id = #{classeId},
            </if>
            <if test="year != null">
                year = #{year},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from classe_history where id = #{id}
    </delete>

</mapper>

